@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-slate-200;
  }
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
  .dark body {
    @apply bg-slate-900 text-slate-50 border-slate-800;
  }
}
